asgiref==3.8.1
attrs==24.1.0
Django==5.0.7
fastjsonschema==2.20.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
psycopg==3.2.1
python-dotenv==1.0.1
referencing==0.35.1
rpds-py==0.19.1
sqlparse==0.5.1
typing_extensions==4.12.2
