{% extends 'adminmaster.html' %}
{% load static %}


{% block title %}Service Type | Revolution Auto{% endblock %}
{% block content %}
<div class="container-fluid flex-grow-1 container-p-y">
    <h4 class="font-weight-bold py-3 mb-0">SERVICE TYPE</h4>
    <div class="d-flex justify-content-between">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{curl}}dashboard/"><i class="feather icon-home"></i></a></li>
            <li class="breadcrumb-item"> <a href="{% url 'service_type_data_handler' %}">Service Types</a></li>
        </ol>
        <button class="btn btn-dark rounded font-weight-bold" style="color:#c4c1c1;" id="showFormButton"
            onclick="addopenModal('addForm')">Add Service Types</button>
    </div>

    <div>
        {% if messages %}
        <ul class="messages" style="color: rgb(4, 104, 29); padding-left: 0px; margin-bottom: 2px; list-style: none;">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div id="addForm" class="modal-form" onclick="closeModalIfOutside(event, 'addForm')">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Services Type</h4>
                <button type="button" class="close" onclick="closeModal('addForm')">×</button>
            </div>
            <div class="modal-body">
                <form action="{% url 'service_type_data_handler' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group brand">
                        <label class="control-label col-sm-3" for="service_type_name">Service Type Name:</label>
                        <div class="col-sm-6 mw-100">
                            <input class="form-control" name="service_type_name" placeholder="Service Type Name">
                            <span id="service_type"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row w-100">
                            <div class="w-100 modal_btn d-flex justify-content-around">
                                <button type="button" class="btn btn-danger" data-dismiss="modal"
                                    onclick="closeModal('addForm')">Close</button>
                                <button type="submit" class="btn btn-dark">Submit</button>
                            </div>
                            <img src="http://unclefitter.encoreskydev.com/images/spin.gif" class="spinner"
                                style="display: none;">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card d-flex w-100 mb-4">
            <div class="row no-gutters row-bordered row-border-light h-100" id="item-list">

                <table class="table table-hover table-striped table-bordered shadow-sm mb-4 w-100">
                    <marquee behavior="scroll" direction="left">
                        <caption class="caption-top fs-4 text-dark mb-2">All Available Service Types</caption>
                    </marquee>
                    <thead class="table-light">
                        <tr>
                            <th scope="col">SR.No</th>
                            <th scope="col">Service Type</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody hx-target="body" hx-swap="outerHTML swap:1s">
                        {% for service in page_obj %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ service.service_type_name }}</td>

                            {% if service.status == 1 %}
                            <td>Active</td>
                            {% else %}
                            <td>In-active</td>
                            {% endif %}

                            <td>
                                <button class="btn" hx-delete="{% url 'service_type_action_handler' service.id %}"
                                    hx-confirm="Are you sure you want to delete this brand?">
                                    <i class="fa fa-trash"></i>
                                </button>
                                <button class="btn" key="{{ service.id }}"
                                    onclick="updateopenModal('updateForm', '{{ service.id }}', '{{ service.service_type_name }}', '{{ service.status }}')">
                                    <i class="fa fa-edit"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div id="updateForm" class="modal-form" onclick="closeModalIfOutside(event, 'updateForm')">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Update Service Category</h4>
                            <button type="button" class="close" onclick="closeModal('updateForm')">×</button>
                        </div>
                        <div class="modal-body">
                            <form class="update-form" method="post">
                                {% csrf_token %}
                                <div class="form-group brand">
                                    <label class="control-label col-sm-3" for="service_type_name">Service Type
                                        Name:</label>
                                    <div class="col-sm-6 mw-100">
                                        <input class="form-control" id="service_type_name" name="service_type_name" value="">
                                        <span id="service_type_name"></span>
                                    </div>
                                </div>
                                <div class="form-group description">
                                    <label class="control-label col-sm-3" for="Status">Status :</label>
                                    <div class="col-sm-6 mw-100">
                                        <select class="form-control" id="exampleSelect" name="status">
                                            <option value="" disabled>Select status</option>
                                            <option value="1" {% if service.status == 1 %}selected{% endif %}>Active
                                            </option>
                                            <option value="2" {% if service.status == 2 %}selected{% endif %}>In-active
                                            </option>
                                        </select>
                                        <span id="Status"></span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="row w-100">
                                        <div class="w-100 modal_btn d-flex justify-content-around">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal"
                                            onclick="closeModal('updateForm')">Close</button>
                                            <button type="submit" class="btn btn-dark">Submit</button>
                                        </div>
                                        <img src="http://unclefitter.encoreskydev.com/images/spin.gif" class="spinner"
                                            style="display: none;">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pagination Controls -->
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                    <a href="?page=1" class="btn bg-dark text-light">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}" class="btn bg-dark text-light">previous</a>
                    {% endif %}

                    <span class="current font-weight-bold">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="btn bg-dark text-light">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="btn bg-dark text-light">last
                        &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}