{% extends 'adminmaster.html' %}
{% load static %}
{% block title %}Car Brand | Revolution Auto{% endblock %}
{% block content %}
<div class="container-fluid flex-grow-1 container-p-y">
    <h4 class="font-weight-bold py-3 mb-0">Car Years</h4>
    <!-- <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="feather icon-home"></i></a></li>
            <li class="breadcrumb-item" >Basic UI</li>
            <li class="breadcrumb-item active" >Alerts</li> 
            <button class="btn btn-dark rounded font-weight-bold" style="color:#c4c1c1;" id="showFormButton"
                hx-get="{{curl}}showaddyear/" hx-swap="beforeend" hx-target="body">Add year</button>
        </ol>
    </div> -->

    <div class="d-flex justify-content-between">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{curl}}dashboard/"><i class="feather icon-home"></i></a></li>
            <li class="breadcrumb-item"><a href="{{curl}}caryear/">Car Year</a></li>
        </ol>
        <button class="btn btn-dark rounded font-weight-bold" style="color:#c4c1c1;" id="showFormButton"
            hx-get="{{curl}}showaddyear/" hx-swap="beforeend" hx-target="body">Add Year</button>
    </div>
    <div>
        {% if messages %}
        <ul class="messages" style="color: rgb(4, 104, 29); padding-left: 0px; margin-bottom: 2px; list-style: none;">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div id="myForm" style="display: none;">
        <div class="vw-100 vh-100 position-fixed" style="z-index: 9999; top: 0; left: 0;">
            <div class="vw-100 vh-100 position-absolute" style="background-color: rgb(0,0,0,0.5); z-index: 1;"
                hx-get="{{curl}}carbrand/" id="test" hx-target="body"></div>
            <div class="modal-content mx-auto" style="max-width: 500px; z-index: 2;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" hx-get="{{curl}}carbrand/"
                        hx-target="body" style="outline: none;">×</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card d-flex w-100 mb-4">
                <!-- <h6 class="card-header">Alerts</h6> -->
                <div class="row no-gutters row-bordered row-border-light h-100" id="item-list">

                    <table class="table table-hover table-striped table-bordered shadow-sm mb-4 w-100">
                        <marquee behavior="scroll" direction="left">
                            <caption class="caption-top fs-4 text-dark mb-2">All Available Brand</caption>
                        </marquee>
                        <thead class="table-light">
                            <tr>
                                <th scope="col">SR.No</th>
                                <th scope="col">Brand Name</th>
                                <th scope="col">Year</th>
                                <!-- <th scope="col">Image</th> -->
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody hx-target="body" hx-swap="outerHTML swap:1s">
                            {% for data in page_obj %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ data.car_id.brand }}</td>
                                <td>{{ data.year }}</td>

                                {% if data.status == 1 %}
                                <td>Active</td>
                                {% else %}
                                <td>In-active</td>
                                {% endif %}
                                <td>
                                    <button class="btn" hx-delete="{% url 'deleteYear' data.id %}"
                                        hx-confirm="Are you sure you want to delete this brand?">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                    <button class="btn" hx-get="{% url 'edityear' data.id %}" hx-swap="beforeend"
                                        hx-target="body" hx-swap="innerHTML">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <!-- Pagination Controls -->
                    <div class="pagination">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                            <a href="?page=1" class="btn bg-dark text-light">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}"
                                class="btn bg-dark text-light">previous</a>
                            {% endif %}

                            <span class="current font-weight-bold">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>

                            {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" class="btn bg-dark text-light">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn bg-dark text-light">last
                                &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}