<div id="myForm">
    <div class="vw-100 vh-100 position-fixed"  style="z-index: 99999; top: 0; left: 0;" > 
        <div class="vw-100 vh-100 position-absolute"  style="background-color: rgb(0,0,0,0.5); z-index: 2; " hx-get="{% url 'all_car_trims' %}" hx-target="body"></div> 
        <div class="modal-content mx-auto" style="max-width: 500px; z-index: 2;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" hx-get="{% url 'all_car_trims' %}" hx-target="body" style="outline: none;">×</button>
                <h4 class="modal-title">Add Car Trim</h4>   
            </div>
            <div class="modal-body">
                <!-- <form class="form-horizontal" id="form_add_car_service" method="post" action="http://unclefitter.encoreskydev.com/admin/car/makes" enctype="multipart/form-data"> -->
                    <form  hx-encoding='multipart/form-data' hx-post="{% url 'add_car_trim' %}" hx-target="body">
                        {% csrf_token %}
                    
                    <div class="form-group brand">
                        <label class="control-label col-sm-3" for="brand">Brand Name:</label>
                        <div class="col-sm-6 mw-100">
                                <select name="car_id" class="form-control">
                                <option value="">Select you car</option>
                                {% for brand in brand_obj %}
                                <option value="{{brand.id}}">{{brand.brand}}</option>
                                {% endfor %}
                            </select>
                            <span id="brand"></span>
                        </div>
                    </div>
                    
                    <div class="form-group brand">
                        <label class="control-label col-sm-3" for="brand">Year :</label>
                        <div class="col-sm-6 mw-100">
                             <select name="year_id" class="form-control">
                                <option value="">Select Year</option>
                                {% for year in year_obj %}
                                <option value="{{year.id}}">{{year.year}}</option>
                                {% endfor %}
                            </select>
                            <span id="brand"></span>
                        </div>
                    </div>

                    <div class="form-group brand">
                        <label class="control-label col-sm-3" for="brand">Model Name:</label>
                        <div class="col-sm-6 mw-100">
                             <select name="model_id" class="form-control">
                                <option value="">Select you model</option>
                                {% for model in page_obj %}
                                <option value="{{model.id}}">{{model.model_name}}</option>
                                {% endfor %}
                            </select>
                            <span id="brand"></span>
                        </div>
                    </div>

                    <div class="form-group description">
                        <label class="control-label col-sm-3" for="description">Trim :</label>
                        <div class="col-sm-6 mw-100">
                            <input class="form-control" name="car_trim_name" placeholder="Trim" >
                            <span id="description"></span>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="row w-100">
                            <div class="w-100 modal_btn d-flex justify-content-around">
                                <button type="button" class="btn btn-danger" data-dismiss="modal" hx-get="{% url 'all_car_trims' %}" hx-target="body">Close</button> 
                                <button type="submit" class="btn btn-primary" >Submit</button>
                            </div>
                            <img src="http://unclefitter.encoreskydev.com/images/spin.gif" class="spinner" style="display: none;">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

