<div id="myForm">
    <div class="vw-100 vh-100 position-fixed"  style="z-index: 99999; top: 0; left: 0;" > 
        <div class="vw-100 vh-100 position-absolute"  style="background-color: rgb(0,0,0,0.5); z-index: 2; " hx-get="{% url 'all_car_trims' %}" hx-target="body">  </div>
        <div class="modal-content mx-auto" style="max-width: 500px; z-index: 2;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" hx-get="{% url 'all_car_trims' %}" hx-target="body" style="outline: none;">×</button>
                <h4 class="modal-title">Edit Car Trim Details</h4>   
            </div>
            <div class="modal-body">
                {% if edit_trim_obj %}
               <form  action="{{curl}}update/car/trim/{{edit_trim_obj.id}}/" method="post"  enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="form-group brand">
                            <label class="control-label col-sm-3" for="car_id">Car Name:</label>
                            <div class="col-sm-6 mw-100">
                                <select name="car_id" class="form-control">
                                    <option value="{{edit_trim_obj.car_id.id}}">{{edit_trim_obj.car_id.brand}}</option>
                                    {% for brand in page_obj %}
                                    <option value="{{brand.id}}">{{brand.brand}}</option>
                                    {% endfor %}
                                </select>
                                <span id="car_id"></span>
                            </div>
                        </div>

                        <div class="form-group brand">
                            <label class="control-label col-sm-3" for="year_id">Year :</label>
                            <div class="col-sm-6 mw-100">
                                <select name="year_id" class="form-control">
                                    <option value="{{edit_trim_obj.year_id.id}}">{{edit_trim_obj.year_id.year}}</option>
                                    {% for year in year_obj %}
                                    <option value="{{year.id}}">{{year.year}}</option>
                                    {% endfor %}
                                </select>
                                <span id="year_id"></span>
                            </div>
                        </div>
                        
                        <div class="form-group brand">
                            <label class="control-label col-sm-3" for="model">Model :</label>
                            <div class="col-sm-6 mw-100">
                                <select name="model_id" class="form-control">
                                    <option value="{{edit_trim_obj.model_id.id}}">{{edit_trim_obj.model_id.model_name}}</option>
                                    {% for model in model_obj %}
                                    <option value="{{model.id}}">{{model.model_name}}</option>
                                    {% endfor %}
                                </select>
                                <span id="model"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" for="car_trim_name">Trim Name :</label>
                            <div class="col-sm-6 mw-100">
                                <input class="form-control" name="car_trim_name" value="{{edit_trim_obj.car_trim_name}}"  >
                                <span id="car_trim_name"></span>
                            </div>
                        </div>

                        <div class="form-group description">
                            <label class="control-label col-sm-3" for="Status">Status :</label>
                            <div class="col-sm-6 mw-100">
                                <select class="form-control" id="exampleSelect" name="status">
                                    <option value="{{ edit_trim_obj.status }}">
                                        {% if edit_trim_obj.status == 1 %}
                                            Active
                                        {% elif edit_trim_obj.status == 2 %}
                                            In-active
                                        {% endif %}
                                    </option>
                                    <option value="1">Active</option>
                                    <option value="2">In-active</option>
                                </select>
                                <span id="Status"></span>   
                            </div>
                        </div>
                        
                        <div class="modal-footer">
                            <div class="row w-100">
                                <div class="w-100 modal_btn d-flex justify-content-around">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal"  hx-get="{% url 'all_car_trims' %}" hx-target="body">Close</button> 
                                    <button type="submit" class="btn btn-dark" >Submit</button>
                                </div>
                                <img src="http://unclefitter.encoreskydev.com/images/spin.gif" class="spinner" style="display: none;">
                            </div>
                        </div>
                    </form>
                    {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
