<div id="myForm">
    <div class="vw-100 vh-100 position-fixed"  style="z-index: 99999; top: 0; left: 0;" > 
        <div class="vw-100 vh-100 position-absolute"  style="background-color: rgb(0,0,0,0.5); z-index: 2; " hx-get="{{curl}}/caryear/" hx-target="body">  </div>
        <div class="modal-content mx-auto" style="max-width: 500px; z-index: 2;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" hx-get="{{curl}}/caryear/" hx-target="body" style="outline: none;">×</button>
                <h4 class="modal-title">Edit Car Year Details</h4>   
            </div>
            <div class="modal-body">
                {% if edit_year_obj %}
               <form  action="{{curl}}/edityear/{{edit_year_obj.id}}/" method="post"  enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="form-group brand">
                            <label class="control-label col-sm-3" for="brand">Car Name:</label>
                            <div class="col-sm-6 mw-100">
                                <select name="car_id" class="form-control">
                                    <option value="{{edit_year_obj.car_id.id}}">{{edit_year_obj.car_id.brand}}</option>
                                    {% for brand in page_obj %}
                                    <option value="{{brand.id}}">{{brand.brand}}</option>
                                    {% endfor %}
                                </select>
                                <span id="brand"></span>
                            </div>
                        </div>

                        <div class="form-group description">
                            <label class="control-label col-sm-3" for="year">Year :</label>
                            <div class="col-sm-6 mw-100">
                                <input class="form-control" name="year" value="{{edit_year_obj.year}}">
                                <span id="year"></span>
                            </div>
                        </div>

                        <div class="form-group description">
                            <label class="control-label col-sm-3" for="description">Status :</label>
                            <div class="col-sm-6 mw-100">
                                <select class="form-control" id="exampleSelect" name="status">
                                    <option value="{{ edit_year_obj.status }}">
                                        {% if edit_year_obj.status == 1 %}
                                            Active
                                        {% elif edit_year_obj.status == 2 %}
                                            In-active
                                        {% endif %}
                                    </option>
                                    <option value="1">Active</option>
                                    <option value="2">In-active</option>
                                </select>
                                <span id="Status"></span>   
                            </div>
                        </div>
                        
                        <div class="modal-footer">
                            <div class="row w-100">
                                <div class="w-100 modal_btn d-flex justify-content-around">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal"  hx-get="{{curl}}/caryear/" hx-target="body">Close</button> 
                                    <button type="submit" class="btn btn-primary" >Submit</button>
                                </div>
                                <img src="http://unclefitter.encoreskydev.com/images/spin.gif" class="spinner" style="display: none;">
                            </div>
                        </div>
                    </form>
                    {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
