{% extends 'admin_master.html' %}
{% load static %}


{% block title %}Combo Management | Revolution Auto{% endblock %}
{% block content %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        localStorage.clear(); // Clears all localStorage items
    });
</script>
<div class="container-fluid flex-grow-1 container-p-y">
    <h4 class="font-weight-bold py-3 mb-0">COMBO MANAGEMENT</h4>
    <div class="d-flex justify-content-between">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{curl}}dashboard/"><i class="feather icon-home"></i></a></li>
            <li class="breadcrumb-item"> <a href="{% url 'combo_data_handler' %}">COMBOS</a></li>
        </ol>
        <button class="btn btn-dark rounded font-weight-bold" style="color:#c4c1c1;" id="showFormButton"
            onclick="addopenModal('addForm')">Add Combo</button>
    </div>
    <div>
        {% if messages %}
        <ul class="messages" style="color: rgb(4, 104, 29); padding-left: 0px; margin-bottom: 2px; list-style: none;">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div id="addForm" class="modal-form" onclick="closeModalIfOutside(event, 'addForm')">
        <div class="modal-content form-scroll" >
            <div class="modal-header">
                <h4 class="modal-title">Add Combo</h4>
                <button type="button" class="close" onclick="closeModal('addForm')">×</button>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group d-flex">
                        <label class="control-label col-sm-3 m-0" style="max-width: 14%; padding: 5px 0px;" for="combo_name">Combo Name :-  </label>
                        <input class="form-control m-0 p-0" style="width: 80%;" id="combo_name" name="combo_name" placeholder="Combo Name">
                        <span></span>
                    </div>

                    <div class="form-group d-flex">
                        <label class="control-label col-sm-3 m-0" style="max-width: 17%; padding: 5px 0px;" for="combo_name">All service Price :-  </label>
                        <input class="form-control m-0 p-0" style="width: 77%;" id="price" name="price" placeholder="Total service Price">
                        <span></span>
                    </div>

                    <div class="form-group d-flex">
                        <label class="control-label col-sm-3 m-0" style="max-width: 16%; padding: 5px 0px;" for="combo_name">Discount Price :-  </label>
                        <input class="form-control m-0 p-0" style="width: 78%;" id="discount_price" name="discount_price" placeholder="Combo Price">
                        <span></span>
                    </div>

                    <div class="form-group d-flex">
                        <label class="control-label col-sm-3 m-0" style="max-width: 16%; padding: 5px 0px;" for="combo_name">Usage Limit :-  </label>
                        <input class="form-control m-0 p-0" style="width: 78%;" id="usage_limit" name="usage_limit" placeholder="Usage Limit">
                        <span></span>
                    </div>

                    <div class="form-group d-flex justify-content-between">
                        <div class="form-group d-flex" style="width: 48%;">
                            <label class="control-label col-sm-3 m-0" style="max-width: 25%; padding: 5px 0px;" for="combo_name">Start Date :-  </label>
                            <input type="date" class="form-control m-0 p-0" style="width: 63%;" id="start_date" name="start_date" placeholder="Start Date">
                        </div>

                        <div class="form-group d-flex" style="width: 48%;">
                            <label class="control-label col-sm-3 m-0" style="max-width: 25%; padding: 5px 0px;" for="combo_name">End Date :-  </label>
                            <input type="date" class="form-control m-0 p-0" style="width: 63%;" id="end_date" name="end_date" placeholder="End Date">
                        </div>
                    </div>
    
                    <div class="form-group description">
                        <label for="service_type">Service Type :- </label>
                        <select onchange="getServiceCategory('service_type', 'service_category')" type="text" name="service_type" id="service_type" class="border-0" style="width: 81%; padding: 6px 0px;">
                            <option value="">Select Service type here</option>
                            {% for item in service_type %}
                                <option value="{{item.id}}">{{item.service_type_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
    
                    <div class="form-group">
                        <label for="service_category">Service Category:- </label>
                        <select onchange="getService('service_category', 'service', 'service_selection')" type="text" name="service_category" id="service_category" class="border-0" style="width: 78%; padding: 6px 0px;">
                        </select>
                    </div>
    
                    <div class="w-100 d-flex py-3" style="justify-content: start; gap: 4%;">
                        <div id="service" class="border-0" style="width: 45%; padding: 6px 0px;">
                        </div>
                        <div style="width: 45%;" id="subServiceOption">
                        </div>
                    </div>
    
                    <div class="d-flex justify-content-start">
                        <div class="" style="width: 94.2%; background-color: aliceblue; padding: 10px 1px 10px 0px;">
                            <div id="service_selection">
                                <div class="d-flex justify-content-between">
                                    <label class="m-0">Selected Services</label>
                                    <label class="m-0">Action</label>
                                </div>
                                <hr class="someClass m-0">
                                <div id="selected_services_container">
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="modal-footer">
                        <div class="row w-100">
                            <div class="w-100 modal_btn d-flex justify-content-around" id="button-container">
                                <button type="button" class="btn btn-danger" style="background-color: #D81324;" data-dismiss="modal" onclick="closeModal()">Close</button>
                                <button type="button" class="btn btn-dark" onclick="updateLocalStorage()">Submit</button>
                                <button type="button" class="btn btn-dark" onclick="resetSelection()">Reset Selection</button>
                            </div>
                            <img src="http://unclefitter.encoreskydev.com/images/spin.webp" class="spinner" style="display: none;">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-md-12">
        <div class="card d-flex w-100 mb-4">
            <!-- <h6 class="card-header">Alerts</h6> -->
            <div class="row no-gutters row-bordered row-border-light h-100" id="item-list">

                <table class="table table-hover table-striped table-bordered shadow-sm mb-4 w-100">
                    <caption class="caption-top fs-4 text-dark mb-2">All Available Locations</caption>

                    <thead class="table-light">
                        <tr>
                            <th scope="col">SR.No</th>
                            <th scope="col">Combo Name</th>
                            <th scope="col">Without Offer Price</th>
                            <th scope="col">Offer Price</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Usage Limit</th>
                        </tr>
                    </thead>

                    <tbody hx-target="body" hx-swap="outerHTML swap:1s">
                        {% for combo in page_obj %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ combo.name }}</td>
                            <td>{{ combo.price }}</td>
                            <td>{{ combo.discount_price }}</td>
                            <td>{{ combo.start_date }}</td>
                            <td>{{ combo.end_date }}</td>
                            <td>{{ combo.usage_limit }}</td>
                            <!-- <td>
                                <button style="border: none; font-size: small; padding: 0px 9px;" 
                                    onclick="updateStatusModal('updateStatusForm', '{{ combo.id }}', '{{ combo.status }}')">
                                    <i class="fa fa-edit"></i>
                                </button>
                            </td> -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                <!-- Pagination Controls -->
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                        <a href="?page=1" class="btn bg-dark text-light">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}" class="btn bg-dark text-light">previous</a>
                        {% endif %}

                        <span class="current font-weight-bold">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="btn bg-dark text-light">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn bg-dark text-light">last
                            &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    
</script>
{% endblock %}