{% extends 'adminmaster.html' %}
{% load static %}

{% block title %}Car Brand | Revolution Auto{% endblock %}
{% block content %}
<div class="container-fluid flex-grow-1 container-p-y">
    <h4 class="font-weight-bold py-3 mb-0">CAR BRANDS</h4>
    <div class="d-flex justify-content-between">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{curl}}dashboard/"><i class="feather icon-home"></i></a></li>
            <li class="breadcrumb-item"> <a href="{% url 'car_brand_data_handler' %}">Car Brand</a></li>
        </ol>
        <button class="btn btn-dark rounded font-weight-bold" style="color:#c4c1c1;" id="showFormButton"
            onclick="addopenModal('addForm')">Add Brand</button>
    </div>
    <div>
        {% if messages %}
        <ul class="messages" style="color: rgb(4, 104, 29); padding-left: 0px; margin-bottom: 2px; list-style: none;">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div id="addForm" style="padding-top: 100px;" class="modal-form" onclick="closeModalIfOutside(event, 'addForm')">
        <div class="modal-content" id="modal-content" style="max-width: 800px; height: 58%;">
            <div class="modal-header">
                <h4 class="modal-title">Add Services</h4>
                <button type="button" class="close" onclick="closeModal('addForm')">×</button>
            </div>
            <div class="modal-body" id="modal-body">
                <form action="{% url 'car_brand_data_handler' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group brand">
                        <label class="control-label col-sm-3" for="brand">Brand Name:</label>
                        <div class="col-sm-6 mw-100">
                            <input type="text" class="form-control" name="brand" placeholder="Brand"
                                value="">
                            <span id="brand2"></span>
                        </div>
                    </div>

                    <div class="form-group description">
                        <label class="control-label col-sm-3" for="description">Description :</label>
                        <div class="col-sm-6 mw-100">
                            <textarea class="form-control" name="description" id="add_description" placeholder="Brand Description"></textarea>
                            <span id="description2"></span>
                        </div>
                    </div>

                    <div class="form-group car_image">
                        <label class="control-label col-sm-3" for="image_url">Upload Image :</label>
                        <div class="col-sm-6 mw-100">
                            <input type="file" class="form-control file" name="image_url">
                            <span id="car_image"></span>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="row w-100">
                            <div class="w-100 modal_btn d-flex justify-content-around">
                                <button type="button" class="btn btn-danger" data-dismiss="modal"
                                    onclick="closeModal()">Close</button>
                                <button type="submit" class="btn btn-dark">Submit</button>
                            </div>
                            <img src="http://unclefitter.encoreskydev.com/images/spin.gif" class="spinner"
                                style="display: none;">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card d-flex w-100 mb-4">
            <!-- <h6 class="card-header">Alerts</h6> -->
            <div class="row no-gutters row-bordered row-border-light h-100" id="item-list">

                <table class="table table-hover table-striped table-bordered shadow-sm mb-4 w-100">
                    <marquee behavior="scroll" direction="left">
                        <caption class="caption-top fs-4 text-dark mb-2">All Available Brand</caption>
                    </marquee>
                    <thead class="table-light">
                        <tr>
                            <th scope="col">SR.No</th>
                            <th scope="col">Make Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Image</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody hx-target="body" hx-swap="outerHTML swap:1s">
                        {% for brand in page_obj %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ brand.brand }}</td>
                            <td>{{ brand.description }}</td>
                            <td>
                                <img src="http://127.0.0.1:8000{{ brand.image_url }}" alt="Brand Images"
                                    style="width: 40px; height: 45px;">
                            </td>
                            {% if brand.status == 1 %}
                            <td>Active</td>
                            {% else %}
                            <td>In-active</td>
                            {% endif %}
                            <td>
                                <button class="btn" hx-delete="{% url 'car_brand_action_handler' brand.id %}"
                                    hx-confirm="Are you sure you want to delete this brand?">
                                    <i class="fa fa-trash"></i>
                                </button>
                                <button class="btn" onclick="updateCarBrand('updateForm', '{{ brand.id }}', 
                                '{{ brand.brand }}', '{{ brand.description|escapejs }}', '{{ brand.image_url }}',
                                '{{ brand.service_type.id }}')">
                                    <i class="fa fa-edit"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div id="updateForm" style="padding-top: 100px;" class="modal-form" onclick="closeModalIfOutside(event, 'updateForm')">
                    <div class="modal-content" id="modal-content" style="max-width: 800px; height: 58%;">
                        <div class="modal-header">
                            <h4 class="modal-title">Update Brand</h4>
                            <button type="button" class="close" onclick="closeModal('updateForm')">×</button>
                        </div>
                        <div class="modal-body" id="modal-body">
                            <form class="update-form" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group brand">
                                    <label class="control-label col-sm-3" for="brand">Brand Name:</label>
                                    <div class="col-sm-6 mw-100">
                                        <input type="text" class="form-control" id="brand" name="brand" placeholder="Brand"
                                            value="">
                                        <span id="brand1"></span>
                                    </div>
                                </div>

                                <div class="form-group description">
                                    <label class="control-label col-sm-3" for="description">Description :</label>
                                    <div class="col-sm-6 mw-100">
                                        <textarea class="form-control" id="description" name="description"
                                            placeholder="Description"></textarea>
                                        <span id="description1"></span>
                                    </div>
                                </div>

                                <div>
                                    <label class="control-label col-sm-3" style="width: 140px;" for="">Previous Image</label>
                                    <img id="profile_image" alt="profile_image" class="w-25 h-25">
                                </div>

                                <div class="form-group car_image d-flex align-items-center">
                                    <label class="control-label col-sm-3 w-100 pr-0" style="height: 14px;"  for="image_url">Upload Image</label>
                                    <div class="col-sm-6 mw-100">{{brand.image_url}}
                                        <input type="file" class="form-control file" style="width: 250px;" title="Choose new image" id="image_url" name="image_url">
                                        <span id="car_image"></span>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <div class="row w-100">
                                        <div class="w-100 modal_btn d-flex justify-content-around">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal"
                                                onclick="closeModal('updateForm')">Close</button>
                                            <button type="submit" class="btn btn-dark">Submit</button>
                                        </div>
                                        <img src="http://unclefitter.encoreskydev.com/images/spin.gif" class="spinner"
                                            style="display: none;">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>



            <!-- Pagination Controls -->
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                    <a href="?page=1" class="btn bg-dark text-light">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}" class="btn bg-dark text-light">previous</a>
                    {% endif %}

                    <span class="current font-weight-bold">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="btn bg-dark text-light">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="btn bg-dark text-light">last
                        &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script>
    ClassicEditor
        .create( document.querySelector( '#add_description' ) )

        .catch( error => {
            console.error( error );
        } );
</script>
{% endblock %}