{% extends 'master.html' %}
{% load static %}

<title>{% block title %}Successfully forget Password | Revolution Auto{% endblock %}</title>

{% block Navbar %}
<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="{{curl}}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><i class="fa fa-car me-3"></i>Revolution Auto</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse" style="padding-right: 90px;">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="{{curl}}" class="nav-item nav-link ">Home</a>
            <a href="{{curl}}/about/" class="nav-item nav-link">About</a>
            <a href="{{curl}}/service/" class="nav-item nav-link">Services</a>
            <div class="nav-item dropdown">
                <a href="{{curl}}/login" class="nav-link dropdown-toggle active">Login</a>
                <div class="dropdown-menu fade-up m-0">
                    <!-- <a href="#" class="dropdown-item" data-bs-toggle="dropdown">Pages</a> -->
                    <a href="{{curl}}/team/" class="dropdown-item">Technicians</a>
                    <a href="{% url 'request_data_handler' %}" class="dropdown-item">Booking</a>
                    <a href="{{curl}}/register" class="dropdown-item">Registration</a>
                </div>
            </div>
            <!-- <a href="contact.html" class="nav-item nav-link">Contact</a> -->
        </div>
        <!-- <a href="{% url 'request_data_handler' %}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Get A Quote<i
                class="fa fa-arrow-right ms-3"></i></a> -->
    </div>
</nav>
<!-- Navbar End -->
{% endblock Navbar %}


{% block Carousel %}
<div>
    {% if messages %}
    <ul class="messages" style="color: rgb(4, 104, 29); padding-left: 0px; width: 100%; margin-bottom: 2px; list-style: none; text-align: center;">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock Carousel %}


{% block Booking %}
    
<div class="container">
    <div class="forget-class-header"></div>
    <div class="forget-class-container" style="max-width: 550px;">
        <div class="forget-class-header-text">
            <img src="{% static 'img/login.gif' %}" alt="">
            <h3>Forgot Password</h3>
        </div>
        <h5>We are sent a link on your registered email, use this link to set a new password.</h5>
        <p style="font-size: small;">If in case you are not able to receive the email than please check the email or retry.</p>
        <p style="font-size: small;">NOTE:- This link is expire after 10 min.</p>
    </div>
</div>

{% endblock Booking %}


{% block Service %}
{% endblock Service %}

{% block About %}
{% endblock About %}

{% block Fact %}
{% endblock Fact %}

{% block Service1 %}
{% endblock Service1 %}

{% block Team %}
{% endblock Team %}

{% block Testimonial %}
{% endblock Testimonial %}  