{% extends 'master.html' %}
{% load static %}

<title>{% block title %}Reset Password | Revolution Auto{% endblock %}</title>

{% block Navbar %}
<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="{{curl}}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><i class="fa fa-car me-3"></i>Revolution Auto</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse" style="padding-right: 90px;">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="{{curl}}" class="nav-item nav-link ">Home</a>
            <a href="{{curl}}/about/" class="nav-item nav-link">About</a>
            <a href="{{curl}}/service/" class="nav-item nav-link">Services</a>
            <div class="nav-item dropdown">
                <a href="{{curl}}/login" class="nav-link dropdown-toggle active">Login</a>
                <div class="dropdown-menu fade-up m-0">
                    <!-- <a href="#" class="dropdown-item" data-bs-toggle="dropdown">Pages</a> -->
                    <a href="{{curl}}/team/" class="dropdown-item">Technicians</a>
                    <a href="{% url 'request_data_handler' %}" class="dropdown-item">Booking</a>
                    <a href="{{curl}}/register" class="dropdown-item">Registration</a>
                </div>
            </div>
            <!-- <a href="contact.html" class="nav-item nav-link">Contact</a> -->
        </div>
        <!-- <a href="{% url 'request_data_handler' %}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Get A Quote<i
                class="fa fa-arrow-right ms-3"></i></a> -->
    </div>
</nav>
<!-- Navbar End -->
{% endblock Navbar %}


{% block Carousel %}
<div>
    {% if messages %}
    <ul class="messages" style="color: rgb(4, 104, 29); padding-left: 0px; width: 100%; margin-bottom: 2px; list-style: none; text-align: center;">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock Carousel %}


{% block Booking %}
        
    <div class="forget-class-header"></div>

    <!-- Forgot Password Form -->
    <div class="container">
        <div class="forget-class-container" style="max-width: 470px;">
            <div class="forget-class-header-text">
                <img src="{% static 'img/icons8-key-security.gif' %}" alt="">
                <h3>Reset Password</h3>
                <p>Enter your new Password which contains 8 characters, including at least one uppercase letter, one lowercase letter, one unique character, and at-least one number..</p>
            </div>
            <form action="{% url 'reset_password_handler' token=token corrupted_time=corrupted_time %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="forget-class-email" class="form-label">New Password</label>
                    <input type="password" class="form-control" id="forget-class-email" name="password" placeholder="Enter your password">
                </div>
                <div class="mb-3">
                    <label for="forget-class-email" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="forget-class-email" name="confirm_password" placeholder="Confirm your password">
                </div>
                <button type="submit" class="btn forget-class-btn-submit">Submit</button>
            </form>
        </div>
    </div>

{% endblock Booking %}


{% block Service %}
{% endblock Service %}

{% block About %}
{% endblock About %}

{% block Fact %}
{% endblock Fact %}

{% block Service1 %}
{% endblock Service1 %}

{% block Team %}
{% endblock Team %}

{% block Testimonial %}
{% endblock Testimonial %}