{% extends 'master.html' %}
{% load static %}

<title>{% block title %}Teams | Revolution Auto{% endblock %}</title>

{% block Navbar %}
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a href="{{curl}}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"><i class="fa fa-car me-3"></i>Revolution Auto</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="{{curl}}" class="nav-item nav-link ">Home</a>
                <a href="{{curl}}/about/" class="nav-item nav-link">About</a>
                <a href="{{curl}}/service/" class="nav-item nav-link">Services</a>
                <div class="nav-item dropdown">
                    <a href="{{curl}}/team/" class="nav-link dropdown-toggle active">Technicians</a>
                    <div class="dropdown-menu fade-up m-0">
                        <!-- <a href="#" class="dropdown-item" data-bs-toggle="dropdown">Pages</a> -->
                        <a href="{% url 'request_data_handler' %}" class="dropdown-item ">Booking</a> 
                        <a href="{{curl}}/register" class="dropdown-item">Registration</a>
                        <a href="{{curl}}/login" class="dropdown-item">Login</a>
                    </div>
                </div>
                <!-- <a href="contact.html" class="nav-item nav-link">Contact</a> -->
            </div>
            <a href="{% url 'request_data_handler' %}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Get A Quote<i class="fa fa-arrow-right ms-3"></i></a>
        </div>
    </nav>
    <!-- Navbar End -->
{% endblock Navbar %}



{% block Carousel %}
<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0" style="background-image: url('{% static 'img/carousel-bg-2.jpg' %}');">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Technicians</h1>
            <!-- <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Technicians</li>
                </ol>
            </nav> -->
        </div>
    </div>
</div>
<!-- Page Header End -->
{% endblock Carousel %}

{% block Service %}
{% endblock Service %}

{% block About %}
{% endblock About %}

{% block Fact %} 
{% endblock Fact %}

{% block Service1 %}
{% endblock Service1 %}

{% block Booking %}
{% endblock Booking %}