{% extends 'user_master.html' %}
{% load static %}

{% block title %}Service Combos | Revolution Auto{% endblock %}

{% block content %}
<div class="container-fluid container-p-y">
    <h4 class="font-weight-bold py-3 mb-0">MY Combos</h4>
    <div class="d-flex justify-content-between">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'user_dashboard' %}"><i class="feather icon-home"></i> User Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'user_combo' %}">My Combos</a></li>
        </ol>
    </div>
    
    <div>
        {% if messages %}
        <ul class="messages" style="color: rgb(4, 104, 29); padding-left: 0px; margin-bottom: 2px; list-style: none;">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <!-- New Grid Layout for Combos -->
    <div class="row">
        {% for combo in page_obj %}
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title">{{ combo.name }}</h5>
                        <h5 class="card-title">$<span class="h5 mb-0" style="text-decoration: line-through; color: #999;">{{ combo.price }}</span> {{ combo.discount_price }}</h5>
                    </div>
                    <div class="card-text">
                        <p>{{ combo.description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <!-- <span class="h5 mb-0">₹{{ combo.price }}</span> -->
                            <div>
                                <a href="" class="btn btn-primary btn-sm">View Details</a>
                                <a href="" class="btn btn-success btn-sm">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <div class="alert alert-info">
                No combos available at the moment.
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}