<div style="font-size: medium;" name="mail_content">
    <!-- <div style="width: 100%;">
        <img src="/admin_app/static/img/logo-dark.png" alt="">
    </div> -->
    <p>Your friend <strong>{{user.first_name}}</strong> thought you should try us for your next car service, repair or diagnostics so we are rewarding you with<strong> $ 30.</strong> 
    </p>
    <p>To redeem, book one of our services online and one of our mobile mechanics will come to your home or office to service your vehicle, 7 days a week.
    </p>
    <p>
    <span>Click<a href="http://127.0.0.1:8000/register/?referral_token={{user.remember_token}}"> http://127.0.0.1:8000/register/?referral_token={{user.remember_token}}</a></span> today to sign up and get <strong> $ 30</strong>  off on your first booking.
    </p>    
    <p>You can learn more about Uncle Fitter at: http://127.0.0.1:8000/</p>
</div>