{% extends 'user_master.html' %}
{% load static %}


{% block title %}User Dashboard | Revolution Auto{% endblock %}
{% block content %}

<div class="container-fluid flex-grow-1 container-p-y">
    <div class="user-img">
        <div>
            <img class="user_profile" src="{{user.profile_image}}"
                style="background-color: black; border-radius: 70px;">
        </div>
        <div class="welcome-back-text">
            <h2>Welcome back, <span>{{user.first_name}} {{user.last_name}}</span></h2>
            <p>Managing your car has never been more convenient</p>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'user_dashboard' %}">
                <i class="feather icon-home"></i> User Dashboard</a></li>
        </ol>
    </div>
    
    <div id="messageContainer">
        {% if messages %}
        <ul class="messages" style="color: rgb(4, 104, 29); padding-left: 0px; margin-bottom: 2px; list-style: none;">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <ul class="messages hidden" style="color: rgb(4, 104, 29); padding-left: 0px; margin-bottom: 2px; list-style: none;">
            <li id="final_error"></li>
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    setTimeout(() => {
        window.onload(submitStoredForm('{{ user.user_id|escapejs }}'));
        
    }, 1000);
</script>
{% endblock %}