{% extends 'user_master.html' %}
{% load static %}


{% block title %}User Dashboard | Revolution Auto{% endblock %}
{% block content %}
<div class="container-fluid flex-grow-1 container-p-y">
    <div class="user-img">
        <div>
            <img class="user_profile" src="{{user.profile_image}}"
                style="background-color: black; border-radius: 70px;">
        </div>
        <div class="welcome-back-text">
            <h2>Welcome back, <span>{{user.first_name}} {{user.last_name}}</span></h2>
            <p>Managing your car has never been more convenient</p>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'user_dashboard' %}"><i class="feather icon-home"></i> User
                    Dashboard</a></li>
        </ol>
    </div>
    <div>
        {% if messages %}
        <ul class="messages" style="color: rgb(4, 104, 29); padding-left: 0px; margin-bottom: 2px; list-style: none;">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
<!-- <div class="row">
    <div class="col-md-12">
        <div class="card d-flex w-100 mb-4">
            <div class="row no-gutters row-bordered row-border-light h-100" id="item-list">
                <div id="updateForm" style="padding-top: 100px;" class="modal-form h-100"
                    onclick="closeModalIfOutside(event, 'updateForm')">
                    <div class="modal-content" id="modal-content" style="max-width: 800px; height: 55%;">
                        <div class="modal-header">
                            <h4 class="modal-title">Update Your Profile</h4>
                            <button type="button" class="close" onclick="closeModal('updateForm')">×</button>
                        </div>
                        <div class="modal-body" id="modal-body">
                            <form class="update-form" id="update-form" method="post">
                                {% csrf_token %}

                                <div class="form-group brand">
                                    <label class="control-label" for="first_name">First Name :</label>
                                    <div>
                                        <input class="form-control" name="first_name" id="first_name"
                                            placeholder="First Name">
                                        <span id="first_name1"></span>
                                    </div>
                                </div>

                                <div class="form-group brand">
                                    <label class="control-label" for="first_name">Last Name :</label>
                                    <div>
                                        <input class="form-control" name="last_name" id="last_name"
                                            placeholder="Last Name">
                                        <span id="last_name"></span>
                                    </div>
                                </div>

                                <div class="form-group brand">
                                    <label class="control-label" for="email">Email :</label>
                                    <div>
                                        <input class="form-control" name="email" placeholder="Email" id="email">
                                        <span id="email1"></span>
                                    </div>
                                </div>

                                <div class="form-group brand">
                                    <label class="control-label" for="phone_no">Phone Number :</label>
                                    <div>
                                        <input class="form-control" name="phone_no" id="phone_no"
                                            placeholder="Last Name">
                                        <span id="phone_no"></span>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <div class="row w-100">
                                        <div class="w-100 modal_btn d-flex justify-content-around">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal"
                                                onclick="closeModal('updateForm')">Close</button>
                                            <button type="submit" class="btn btn-dark">Submit</button>
                                        </div>
                                        <img src="http://unclefitter.encoreskydev.com/images/spin.gif" class="spinner"
                                            style="display: none;">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pagination Controls remove for now when required copy from the admin templates -->
        </div>
    </div>
</div> -->
</div>
</div>
{% endblock %}